.interest {
    padding: 40px 20px;
}

.interest__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.wrraper-interest {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;

    margin-bottom: 30px;
    padding: 20px 20px ;

    border-radius: 10px;
    box-shadow: 0 0 20px 5px rgb(0, 0, 0, .2);

}

.interest-img{
    width: 300px;
    height: 350px;
    object-fit: cover;

    margin-bottom: 20px;
}

.interest-title {
    margin-bottom: 15px;
    font-size: 20px;

    color: var(--text-color-black);
}

.interest-text {
    width: 360px;
    color: var(--text-color-gray);
    margin-bottom: 20px;
    font-size: 16px;
}
.interest-text:last-of-type {
    margin-bottom: 0px;
}
