
/* Переменные */
:root {
    --color-blue: rgb(86, 147, 238);
    --text-color-gray: #9e9e9e;
    --text-color-light-gray: #e9e9e9;
    --text-color-black: #262626;

    --backgraund-black-opacity: rgb(0, 0, 0, .5);
    --backgraund-gray: rgb(225,225,225, .3);
}
/* Общие стили */
body {
    font-family: "Open Sans", sans-serif;
}
.checkbox {
    display: none;
}

* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

.svg_color {
    background-color: var(--color-blue);
}

a.link{
    fill: var(--color-blue);
    color: var(--color-blue);
    text-decoration: none;
    transition: opaciyt 0.25 ease;
}

a.link:hover {
    opacity: .8;
}

.active{
    color: var(--color-blue);
}

.block-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.second-title {
    position: relative;
    font-size: 32px;
    text-align: center;
    margin-bottom: 50px;
}

.second-title::after {
    --underline-width: 60px;
    content: "";

    display: inline-block;
    width: var(--underline-width);
    height: 2px;

    position: absolute;
    bottom: -7px;
    left: calc(50% - 60px/2);

    background-color: var(--color-blue);
}

.section-descriptions {
    margin-bottom: 40px;
    font-size: 18px;
    text-align: center;

    color: var(--text-color-gray);
}

.bold {
    font-weight: 700;
    color: var(--text-color-black);
}

.section-grey {
    background-color: var(--backgraund-gray);
}

.cls {
    clear: both;
}

.disacitve {
    display: none;
}

.active_block {
    display: block;
}
/* Блог */

#blog {
    display: none;
}