
/* Переменные */
:root {
    --color-blue: rgb(86, 147, 238);
    --backgraund-black-opacity: rgb(0, 0, 0, .5);
}
/* Общие стили */
* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    scroll-behavior: smooth;
}

a.link{
    color: var(--color-blue);
    text-decoration: none;
    transition: opaciyt 0.25 ease;
}
a.link:hover {
    opacity: .8;
}

.block-center {
    display: flex;
    align-items: center;
    justify-content: center;
}
/* Header стили */
.header{ 
    position: relative;
    height: 110vh;
    clip-path: polygon(100% 0, 100% 88%, 50% 100%, 0 88%, 0 0);
    bottom: 80px;
}

.header__backgraund{
    position: absolute;
    height: inherit;
    width: 100%;
    object-fit: cover;
    filter: blur(5px);
}

.header__backgraund-wrapper{
    position: absolute;
    height: inherit;
    width: 100%;

    background: rgb(0, 0, 0, .5);

    z-index: 1;
}

.header-top {
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 80px;

    color: #fff;
    background-color: var(--backgraund-black-opacity);

    z-index: 3;
}

.header-top a.link {
    color: #fff;
}

.logo{
    width: 303px;
    font-size: 28px;
    color: #fff;

}

.element-menu__link.home {
    display: inline-block;
    width: 24px;
    height: 24px;
}

.element-menu {
    font-size: 20px;
    margin-right: 35px;
}

.element-menu:last-child{
    margin: 0;
}

.element-menu a.link.active, .element-menu a.link:hover{
    color: var(--color-blue);
    
}
.switcher-conteiner {
    width: 303px;
}
.switcher {
    position: relative;
    display: flex;
    align-items: center;
    width: 90px;
    padding: 0px 10px;
    height: 35px;
    opacity: .9;

    background: var(--color-blue);
    border-radius: 25px;

    transition: opacity .5s ease;
    cursor: pointer;
}

.switcher:hover {
    opacity: 1;
}

.switcher::before {
    content: "";
    position: absolute;
    width: 40px;
    height: 28px;
    background: #fff;
    z-index: 1;

    border-radius: 20px;
    left: 42px;
    transition: left .25s ease-in-out;
}


#lang:checked + .switcher::before {
    left: 7px;
}

#lang:checked + .switcher span:first-child {
    color: var(--color-blue);
}

#lang:checked + .switcher span:last-child {
    color: #fff;
}
.switcher span {
    flex: 1 1 50%;

    text-align: center;
    color: var(--color-blue);

    transition: color .25s ease-in-out;
    z-index: 2;
}

.switcher span:first-child {
    color: #fff;
}

#lang{
    display: none;
}
.header-center {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 100px);

    color: #fff;

    z-index: 2;
    
}
.header-center__wrapper {
    padding: 20px 0px;
    width: 100%;
    text-align: center;

    background-color: var(--backgraund-black-opacity);
}
.name{
    font-size: 56px;
    line-height: 56px;
}
.description {
    display: inline-block;
    width: 62ch;

    font-family: 'Courier New', Courier, monospace ;
    font-size: 24px;
    white-space: nowrap;

    border-right: 3px solid transparent;
    overflow: hidden;


    animation: cursor 0.75s 8 , print-text 5s steps(62);
}

@keyframes cursor {
    0% {
        border-color: transparent;
    }

    50% {
        border-color: #fff;
    }

    100% {
        border-color: transparent;
    }
}

@keyframes print-text {
    from {
        width: 0;
    }
}














