
/* Переменные */
:root {
    --color-blue: rgb(86, 147, 238);
    --text-color-gray: #9e9e9e;
    --text-color-light-gray: #e9e9e9;
    --text-color-black: #262626;

    --backgraund-black-opacity: rgb(0, 0, 0, .5);
    --backgraund-gray: rgb(225,225,225, .3);
}
/* Общие стили */
body {
    font-family: "Open Sans", sans-serif;
}
.checkbox {
    display: none;
}

* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    scroll-behavior: smooth;
}



.svg_color {
    background-color: var(--color-blue);
}
a.link{
    fill: var(--color-blue);
    color: var(--color-blue);
    text-decoration: none;
    transition: opaciyt 0.25 ease;
}
a.link:hover {
    opacity: .8;
}


.active{
    color: var(--color-blue);
}

.block-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.second-title {
    position: relative;
    font-size: 32px;
    text-align: center;
    margin-bottom: 50px;
}

.second-title::after {
    --underline-width: 60px;
    content: "";

    display: inline-block;
    width: var(--underline-width);
    height: 2px;

    position: absolute;
    bottom: -7px;
    left: calc(50% - 60px/2);

    background-color: var(--color-blue);
}


.section-descriptions {
    margin-bottom: 40px;
    font-size: 18px;
    text-align: center;

    color: var(--text-color-gray);
}

.bold {
    font-weight: 700;
    color: var(--text-color-black);
}

.section-grey {
    background-color: var(--backgraund-gray);
}


.cls {
    clear: both;
}
/* Слайдер изображений */

.slider{
    position: relative;
    display: flex;
    max-width: 100%;
    overflow: hidden;
    padding-bottom: 50px;
}
.slider__wrrapper {
    display: flex;
    margin-bottom: 30px;
    justify-content: space-between;
    min-width: 100%;
    flex:  1 1 100%;

    transition: all .5s ease;
}

.slider__link{
    flex:  1 1 33%;

}
.slider__images{
    width: 100%;
    max-width: 400px;
    object-fit: cover;
}
.input-slider {
    display: none;
}

.slider__controls {
    bottom: 30px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.slider__controls__elements {
    display: inline-block;
    width: 40px;
    height: 8px;

    border-radius: 8px;
    background: rgb(0,0,0, 20%);

    cursor: pointer;
    transition: all .25 ease;
}
.slider__controls__elements:hover{
    background: var(--color-blue);
}

.input-slider:first-of-type:checked ~ .slider__wrrapper:first-of-type {
    margin-left: 0;
}

.input-slider:nth-last-of-type(2):checked ~ .slider__wrrapper:first-of-type {
    margin-left: -100%;
}

.input-slider:nth-last-of-type(3):checked ~ .slider__wrrapper:first-of-type {
    margin-left: -200%;
}

/* Header стили */


.indent {
    margin: 0px 20px;
}

.header{ 
    position: relative;
    height: 110vh;
    clip-path: polygon(100% 0, 100% 88%, 50% 100%, 0 88%, 0 0);
    bottom: 80px;
}

.header__backgraund{
    position: absolute;
    height: inherit;
    width: 100%;
    object-fit: cover;
    filter: blur(2px);
}

.header__backgraund-wrapper{
    position: absolute;
    height: inherit;
    width: 100%;

    background: rgb(0, 0, 0, .5);

    z-index: 1;
}

.header-top {
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 80px;

    color: #fff;
    background-color: var(--backgraund-black-opacity);

    z-index: 3;
}

.header-top a.link {
    color: #fff;
}

.logo{
    width: 303px;
    font-size: 28px;
    color: #fff;
    white-space: nowrap;


}

.element-menu__link {
    font-weight: 600;
}
.element-menu__link.home {
    display: inline-block;
    width: 24px;
    height: 24px;
    margin-left: 20px;
}

.element-menu {
    font-size: 20px;
    margin-right: 35px;
}

.element-menu:last-child{
    margin: 0;
}

.element-menu a.link.active, .element-menu a.link:hover{
    color: var(--color-blue);
    
}
.switcher-conteiner {
    width: 303px;
}
.switcher {
    position: relative;
    display: flex;
    align-items: center;
    width: 90px;
    padding: 0px 10px;
    height: 35px;
    opacity: .9;

    background: var(--color-blue);
    border-radius: 25px;

    transition: opacity .5s ease;
    cursor: pointer;
}

.switcher:hover {
    opacity: 1;
}

.switcher::before {
    content: "";
    position: absolute;
    width: 40px;
    height: 28px;
    background: #fff;
    z-index: 1;

    border-radius: 20px;
    left: 42px;
    transition: left .25s ease-in-out;
}


#lang:checked + .switcher::before {
    left: 7px;
}

#lang:checked + .switcher span:first-child {
    color: var(--color-blue);
}

#lang:checked + .switcher span:last-child {
    color: #fff;
}
.switcher span {
    flex: 1 1 50%;

    text-align: center;
    color: var(--color-blue);

    transition: color .25s ease-in-out;
    z-index: 2;
}

.switcher span:first-child {
    color: #fff;
}

#lang{
    display: none;
}
.header-center {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 100px);

    color: #fff;

    z-index: 2;
    
}
.header-center__wrapper {
    padding: 20px 0px;
    width: 100%;
    text-align: center;

    background-color: var(--backgraund-black-opacity);
}
.name{
    font-size: 56px;
    line-height: 56px;
}
.description {
    display: inline-block;
    width: 62ch;

    font-family: 'Courier New', Courier, monospace ;
    font-size: 24px;
    white-space: nowrap;

    border-right: 3px solid transparent;
    overflow: hidden;


    animation: cursor 0.75s 8 , print-text 5s steps(62);
}

@keyframes cursor {
    0% {
        border-color: transparent;
    }

    50% {
        border-color: #fff;
    }

    100% {
        border-color: transparent;
    }
}

@keyframes print-text {
    from {
        width: 0;
    }
}

/* Секция обо мне */

.about-me {
    display: flex;
    padding-bottom: 100px;
}

.about-me .left {
    flex: 1 1 40%;
    padding-right: 40px;
}
.about-me .right {
    flex: 1 1 60%;
}

.about-me__images {
    border-radius:  20px;
    width: 350px;
    margin-left: auto;
    filter: drop-shadow( 10px 10px 10px var(--backgraund-black-opacity));
}

.about-me__title {
    font-size: 36px;
    margin-bottom: 10px;
}

.about-me__description {
    font-size: 20px;
    margin-bottom: 20px;
    color: var(--text-color-gray);
}

.about-me__extra {
    color: var(--text-color-gray);

    color: var(--text-color);
}

.about-me__extra {
    color: var(--text-color);

}

.about-me__extra-element {
    display: flex;
    margin-bottom: 10px;
    margin-right: 10px;
}

.about-me__extra-element:last-child {
    margin-bottom: 0px;
    width: 24px;
    height: 24px;
    margin-right: 8px;
}

.about-me__extra-icons svg{
    color: var(--color-blue);
}
.about-me__extra-icons {
    width: 24px;
    height: 24px;
    margin-right: 10px;
}

.width_height_svg {
    width: 24px;
    height: 24px;
}


/* Секция достижения */

.achievements {
    flex-direction: column;
    position: relative;
    padding: 40px 0px;
}

.achievements::before,.achievements::after {
    content: "";
    position: absolute;

    border: 80px solid transparent;
}

.achievements::before{
    border-top: 30px solid #fff;
    top: 0;
}

.achievements::after{
    border-top: 30px solid var(--backgraund-gray);
    bottom: -110px;
}

/* Секция навыков */
.skils{
    padding: 60px 0px 40px;
    margin-bottom: 80px;
}
.skills-filters{
    gap: 20px;
    font-size: 18px;
    margin-bottom: 40px;
}

.skil-filter {
    cursor: pointer;
    transition: all .25s ease;
}

.skil-filter:hover {
    color: var(--color-blue);
}

.skills-wrraper {
    display: flex;
    width: 80%;
    margin: 0 auto;
}


.skills-wrraper .left {
    flex: 1 1 70%;
    display: flex;
    flex-wrap: wrap;
    justify-content:flex-start;
    flex-direction: column;
    gap: 20px;

    max-width: 70%;
    padding-right: 20px;
}

.skills-list__row {
    display: flex;
    justify-content: space-between;
    width: 100%;

}



.skills-list__element {
    display: flex;
    align-items: center;
    flex: 1 1 31%;
    max-width: 31%;
    box-shadow: 0px 0px 15px rgb(0, 0, 0, .3);

    min-height: 80px;
    max-height: 80px;
    border-radius: 5px;

    transition: transform .25s ease;
    cursor: pointer;
}



.skills-list__element:hover{
    outline: 2px solid var(--color-blue);
    transform: scale(105%);
}

.skills-list__element > *:first-child{
    flex:1 1 28%;

}

.skills-list__element > *:last-child{
    flex:1 1 70%;

    padding-left: 20px;
    font-size: 24px;
}

.skills-wrraper .right {
    flex: 1 1 30%;
    padding: 0 0 20px 20px  ;
    border-left: 1px solid var(--text-color-gray);
}

.slills-card__title {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.slills-card__img {
    width: 150px;
    flex: 1 1 30%;
}

.slills-card__name {
    flex: 1 1 70%;
    padding-left: 20px;
    font-size: 24px;
}

.slills-card__progress{
    display: flex;
    flex-direction: column;
    align-items: end;

    margin-bottom: 20px;
}

.slills-card__progress-percent{
    font-size: 18px;
    color: var(--text-color);
}

.slills-card__progress-bar{
    background:  var(--text-color-light-gray);
    border-radius: 20px;
    width: 100%;
    height: 8px;
    overflow: hidden;
}

.slills-card__progress-bar div {
    width: 0%;
    height: inherit;
    background-color: var(--color-blue);
}

.slills-card__description {
    color: var(--text-color-gray);
    text-align: justify;
}

.achievements-list {
    display: flex;
}


/* Секция навыков */
.skils{
    padding: 60px 0px;
}

/* Секция интересы */
.interest {
    padding: 40px 20px;
}

.interest__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.wrraper-interest {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;

    margin-bottom: 30px;
    padding: 20px 20px ;

    border-radius: 10px;
    box-shadow: 0 0 20px 5px rgb(0, 0, 0, .2);

}

.interest-img{
    width: 300px;
    height: 350px;
    object-fit: cover;

    margin-bottom: 20px;
}

.interest-title {
    margin-bottom: 15px;
    font-size: 20px;

    color: var(--text-color-black);
}

.interest-text {
    width: 360px;
    color: var(--text-color-gray);
    margin-bottom: 20px;
    font-size: 16px;
}
.interest-text:last-of-type {
    margin-bottom: 0px;
}

/*Секция книги */

.books {
    padding-top: 40px;
    position: relative;
    flex-direction: column;
}

.images__books {
    width: 100%;
    height: 80%;
    object-fit: cover;
}

/* Секция связаться */

.contact-me {
    padding: 0 40px;
}

.contact-me__form {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.wrapper-input {
    display: inline-block;
    width: 48%;
}
.wrapper-input.left {
    float: left;
}


.wrapper-input.right {
    float: right;
}

.wrapper-textarea {
    margin-top: 20px;
}

.label {
    position: relative;

    display: flex;
    font-size: 20px;
    align-items: center;

    margin-bottom: 5px;
}

.label::before {
    content: "";

    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;

    width: 25px;
    height: 25px;


    margin-right: 8px;

    background-repeat: no-repeat;
    background-position: center;
}

.label[for="name"]::before{
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="rgb(86, 147, 238)" class="size-6"><path fill-rule="evenodd" d="M7.5 6a4.5 4.5 0 1 1 9 0 4.5 4.5 0 0 1-9 0ZM3.751 20.105a8.25 8.25 0 0 1 16.498 0 .75.75 0 0 1-.437.695A18.683 18.683 0 0 1 12 22.5c-2.786 0-5.433-.608-7.812-1.7a.75.75 0 0 1-.437-.695Z" clip-rule="evenodd" /></svg>');

}

.label[for="e-mail"]::before {
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="rgb(86, 147, 238)" class="size-6"><path d="M1.5 8.67v8.58a3 3 0 0 0 3 3h15a3 3 0 0 0 3-3V8.67l-8.928 5.493a3 3 0 0 1-3.144 0L1.5 8.67Z" /><path d="M22.5 6.908V6.75a3 3 0 0 0-3-3h-15a3 3 0 0 0-3 3v.158l9.714 5.978a1.5 1.5 0 0 0 1.572 0L22.5 6.908Z" /></svg>');
}

.label[for="message"]::before{
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="rgb(86, 147, 238)" class="size-6"><path fill-rule="evenodd" d="M4.804 21.644A6.707 6.707 0 0 0 6 21.75a6.721 6.721 0 0 0 3.583-1.029c.774.182 1.584.279 2.417.279 5.322 0 9.75-3.97 9.75-9 0-5.03-4.428-9-9.75-9s-9.75 3.97-9.75 9c0 2.409 1.025 4.587 2.674 6.192.232.226.277.428.254.543a3.73 3.73 0 0 1-.814 1.686.75.75 0 0 0 .44 1.223ZM8.25 10.875a1.125 1.125 0 1 0 0 2.25 1.125 1.125 0 0 0 0-2.25ZM10.875 12a1.125 1.125 0 1 1 2.25 0 1.125 1.125 0 0 1-2.25 0Zm4.875-1.125a1.125 1.125 0 1 0 0 2.25 1.125 1.125 0 0 0 0-2.25Z" clip-rule="evenodd" /></svg>');
}

.input, .textarea {
    width: 100%;
    border: none;
    outline:1px solid var(--text-color-gray) ;
}
.input {
    padding: 5px 5px 5px 20px;
    max-width: 100%;
    min-width: 100%;
    height: 60px;

}


.textarea {
    padding: 20px;
}

.input:focus , .textarea:focus {
    outline:  1px solid var(--color-blue);
}

.submit {
    display: block;
    height: 45px;
    margin-top: 20px;
    padding: 10px 20px ;
    margin-left: auto;

    border: none;
    background:var(--color-blue);
    border-radius: 2px;
    outline: none;
    box-shadow: none;
    color: #fff;

    cursor: pointer;
    opacity: 0.8;
    transition:  opacity .25s ease;
}

.submit:hover {
    opacity: 1;
}

/* Подвал сайта */

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0; 
}

.social {
    display: flex;
    gap: 10px;
    margin-bottom: 5px;

}

.social-elements__link  {
    width: 25px;
    height: 25px;
}

.footer-about {
    color: var(--text-color-gray);
}
.interest-text:last-of-type {
    margin-bottom: 0;
}

/* Блог */

#blog {
    display: none;
}